XML documentation/Event file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:element name="Event">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Index" type="xs:nonNegativeInteger">
                    <xs:annotation>
                        <xs:documentation>Generally counts covered Events generated by an experiment; should convert into GrayCode field value; value usually zero for naked Events</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="GrayCode" type="xs:nonNegativeInteger">
                    <xs:annotation>
                        <xs:documentation>GrayCode conversion of Index field; this is the value that gets written to the Status channel at the time the Event occurs</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:choice>
                    <xs:sequence>
                        <xs:element form="qualified" name="ClockTime" type="xs:decimal">
                            <xs:annotation>
                                <xs:documentation>For Absolute Events this is the time in seconds since some epoch, usually 1600 or 0 CE; for BDF-based clocking, the number of seconds since the beginning of the BDF file that is a part of this dataset.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element minOccurs="0" name="EventTime" type="xs:dateTime"
                            form="qualified">
                            <xs:annotation>
                                <xs:documentation>Present only for Absolute Events; a string representation of thedate and time of this Event; for human reading purposes only.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:element name="Time" type="xs:decimal">
                        <xs:annotation>
                            <xs:documentation>Deprecated; should use ClockTime/EventTime schema</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" ref="GroupVars"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GroupVars">
        <xs:annotation>
            <xs:documentation>List of Group Variable values for this Event</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="GV"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GV">
        <xs:annotation>
            <xs:documentation>Contains value for the Name(d) GV; may be either a non-negative integer or a general XML string</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Name" type="xs:string" use="required">
                        <xs:annotation>
                            <xs:documentation>Name used to identify Group Variable</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Events">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Event" maxOccurs="unbounded" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
